<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="">
<title>Insert title here</title>
<link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">
<link href="/css/jqvmap.css" rel="stylesheet">
<link href="/css/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<!-- Fullcalendar-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
<!-- Materialize-->
<link href="/css/admin-materialize.min.css" rel="stylesheet">
<!-- Material Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<main>
		<div class="container">
			<div th:insert="/index :: header"></div>
			<div class="row">
				<div class="col s12">

					
					
					<div class="card grey lighten-4" style="padding: 20px 20px 20px 20px;">

						<form action="pesquisarativocatalogocompleto" method="post">
							<div class="row">
								<div class="input-field col s4">
									<select id="especialidade" name="especialidade">
										<option value="" >Todos</option>
										<option th:each="e : ${especialidades}"
											th:value="${e.idespecialidade}" th:text="${e.nome}"></option>
									</select>
								</div>
								<div class="input-field col s4">

									<select id="nomepesquisa" name="nomepesquisa" th:value="${nomepesquisa}">
										<option value="" >Todos</option>
										<option value="a">A</option>
										<option value="b">B</option>
										<option value="c">C</option>
										<option value="d">D</option>
										<option value="e">E</option>
										<option value="f">F</option>
										<option value="g">G</option>
										<option value="h">H</option>
										<option value="i">I</option>
										<option value="j">J</option>
										<option value="k">K</option>
										<option value="l">L</option>
										<option value="m">M</option>
										<option value="n">N</option>
										<option value="o">O</option>
										<option value="p">P</option>
										<option value="q">Q</option>
										<option value="r">R</option>
										<option value="s">S</option>
										<option value="t">T</option>
										<option value="u">U</option>
										<option value="v">V</option>
										<option value="x">X</option>
										<option value="y">Y</option>
										<option value="z">Z</option>
										
									</select>

								</div>
								<div class="input-field col s4">
								<button class="btn waves-effect waves-light" type="submit"
									name="action">
									Buscar <i class="material-icons right">search</i>

								</button>
								</div>

							</div>

						</form>

					</div>


					<div class="card grey lighten-4"
						style="padding: 20px 20px 20px 20px">



						<div class="card-metric-title center"
							style="font-weight: bold; font-size: 18px;">Ativos</div>
						<hr class="rounded"></hr>
						<br />

						<div class="card horizontal" th:each="a : ${ativos}" th:value="${a.idativo}">
							<div class="card-stacked">
							
								<div class="card-content">
								
								<div class="right">
										<a class="tooltipped blue-text" data-position="top"
											data-tooltip="Baixar PDF."
											th:href="@{/downloadfile/{idativ}(idativ=${a.idativo})}">
											<i class="material-icons">picture_as_pdf</i>
											<span >FICHA TÉCNICA</span>	
											

										</a>

									</div>
									<p><span class="green-text" th:text="${a.nome}"></span></p>
									<hr class="rounded"></hr>
									<br/>
									
									<p><span style="font-weight: bold; color: #363636; ">Especialidade: </span><span class="" th:text="${a.especialidade.nome}"></span></p>
									<p>
																				
										<span style="font-weight: bold; color: #363636;">Dosagem mínima: </span>
										<span class="" th:text="${a.dosagem_minima}"></span>&nbsp;<span style="font-weight: bold; color: #363636;" th:text="${a.unidade.unidade}"></span>
										&nbsp;&nbsp;&nbsp;
										<span class="blue-text">Dosagem usual: </span>
										<span class="" th:text="${a.dosagem_usual}"></span>&nbsp;<span style="font-weight: bold; color: #363636; " th:text="${a.unidade.unidade}"> </span>
										&nbsp;&nbsp;&nbsp;
										<span style="font-weight: bold; color: #363636;">Dosagem máxima: </span>
										<span class="" th:text="${a.dosagem_maxima}"></span>&nbsp;<span style="font-weight: bold; color: #363636; " th:text="${a.unidade.unidade}"> </span>
									</p>
								
								</div>
								<div class="card-action">
									
									
									
									<ul class="collapsible popout">
										<li>
											<div class="collapsible-header">
												<i class="material-icons">list</i>Mais
											</div>
											<div class="collapsible-body">
												<p>
													<span style="font-weight: bold; color: #363636;">Sinônimo:</span>
													<span class="" th:text="${a.sinonimo}"></span>
													&nbsp;&nbsp;&nbsp;	
												</p>
												<p>
													<span style="font-weight: bold; color: #363636;">Indicação</span>
												</p>	
											
												<p>													
													<span class="" th:text="${a.indicacao}"></span>
													&nbsp;&nbsp;&nbsp;
												</p>
												<p>
													<span style="font-weight: bold; color: #363636;">Benefícios</span>
												</p>
												<p>	
													
													<span class="" th:text="${a.beneficios}"></span>
													&nbsp;&nbsp;&nbsp;
												</p>
												<p>
													<span style="font-weight: bold; color: #363636;">Mecanismo de ação</span>
												</p>
												<p>
													
													<span class="" th:text="${a.mecanismo_acao}"></span>
													&nbsp;&nbsp;&nbsp;
												</p>
												<p>
													<span style="font-weight: bold; color: #363636;">Estudos</span>
												</p>
												<p>
													
													<span class="" th:text="${a.estudos}"></span>
													&nbsp;&nbsp;&nbsp;
												</p>
												<p>
													<span style="font-weight: bold; color: #363636;">Contra indicação</span>
												</p>
												<p>
													
													<span class="" th:text="${a.contra_indicacao}"></span>
													&nbsp;&nbsp;&nbsp;
												</p>
												<p>
													<span style="font-weight: bold; color: #363636;">Observação</span>
												</p>
												<p>
													
													<span class="" th:text="${a.observacao}"></span>
													&nbsp;&nbsp;&nbsp;
												</p>
												
											</div>
										</li>
										
									</ul>
									
									<ul class="collapsible popout">
										<li>
											<div class="collapsible-header">
												<i class="material-icons">list</i>Sugestões de fórmulas
											</div>
											<div class="collapsible-body">
											
											<div class="card-horizontal" th:each="s : ${a.sugestao_formulas}">
												<div class="card-stacked">
							
													<div class="card-content">
														<span style="font-weight: bold; color: #363636;">Fórmula: </span>
														<span class="" th:text="${s.formula.nome}"></span>
														&nbsp;&nbsp;&nbsp;
														<span style="font-weight: bold; color: #363636;">Valor: </span>
														<span class="" th:text="'R$ ' + ${s.formula.valor}"></span>
														&nbsp;&nbsp;&nbsp;
													</div>
													<div class="card-action">
													</div>
												</div>
											</div>
												
										
											</div>
										</li>
										
									</ul>
									
									

								</div>
								
																	
							</div>
						</div>
					</div>


				</div>
						
					



					</div>

					<!-- PAGINAÇÃO -->
						<div class="row center" style="margin-top: 30px;">
							<span th:if="${ativos.hasPrevious()}"> <a
								th:href="@{/ativopagecatalogo(page=${ativos.number-1}, size=${ativos.size}, nomepesquisa=${nomepesquisa})}">
								<i class="small material-icons">chevron_left</i></a>
							</span>

							<th:ul class="pagination blue-text" th:each="i: ${#numbers.sequence(0, ativos.totalPages -1)}">

								<li class="waves-effect">
									<a	th:href="@{/ativopagecatalogo(page=${i}, size=${ativos.size}, nomepesquisa=${nomepesquisa})}">[[${i} + 1]]</a>
								</li>

							</th:ul>
							<span th:if="${ativos.hasNext()}"> <a
								th:href="@{/ativopagecatalogo(page=${ativos.number+1}, size=${ativos.size}, nomepesquisa=${nomepesquisa})}">
								<i class="small material-icons">chevron_right</i></a>
							</span>

						</div>

					</div>
	
		<div th:insert="/index :: footer"></div>
		<input type="hidden" id="msgExclusao" th:value="${msgExclusao}">
		
	</main>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

	<!-- External libraries -->

	<!-- jqvmap -->
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.min.js"></script>
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.world.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.sampledata.js"></script>

	<!-- ChartJS -->
	<script type="text/javascript" src="/js/Chart.js"></script>
	<script type="text/javascript" src="/js/Chart.Financial.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
	<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/masonry.pkgd.min.js"></script>


	<!-- Initialization script -->
	<script src="/js/admin.js"></script>
	<script src="/js/page-scripts/dashboard.js"></script>
	<script src="/js/init.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
	
	<script type="text/javascript">
		
		$(document).ready(function() {
			$('.tooltipped').tooltip();
		});
	</script>

	<script type="text/javascript">
		var msgExclusao = document.getElementById('msgExclusao').value;
		
		if (msgExclusao) {
			M.toast({
				html : msgExclusao,
				displayLength : 5000,
				classes : 'green darken-1 rounded'
			});

		}
	</script>
	
</body>
</html>