<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="">
<title>Magistral Personal</title>
<link rel="shortcut icon" href="/img/favicon.ico"></link>
<link
	href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"
	rel="stylesheet">
<link href="/css/jqvmap.css" rel="stylesheet">
<link href="/css/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<!-- Fullcalendar-->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css"
	rel="stylesheet">
<!-- Materialize-->
<link href="/css/admin-materialize.min.css" rel="stylesheet">
<!-- Material Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<main>
		<div class="container">
			<div th:insert="/index :: header"></div>
			<div class="col s12">



				<div class="card grey lighten-4" style="padding: 20px 20px 20px 20px">

					<div class="card-metric-title center"
						style="font-weight: bold; font-size: 20px;"><span>Perfil</span>
						Secretária</div>
					<div class="divider"></div>
					<br />

					<div class="row  blue-text text-darknen-2">
						<h5 id="secretaria" th:text="*{secretariaobj.nome}"
							style="padding-left: 10px"></h5>
						<div class="divider"></div>
						
					</div>

					<form th:action="@{/salvarperfilsecretaria/{idsec}(idsec=${secretariaobj.idsecretaria})}"
						method="post" th:object="${perfilobj}">
						
						
						<div class="row">
							<div class="col s12 m6 offset-m6">
								<div class="right">
									<button
										class="waves-effect waves-teal btn-floating blue tooltipped"
										data-position="botton" data-tooltip="Salvar" name="action"
										type="submit">
										<i class="material-icons">save</i>
									</button>
									<button
										class="waves-effect waves-teal btn-floating red tooltipped"
										data-position="botton" data-tooltip="Limpar" type="reset"
										name="action">
										<i class="medium material-icons">clear</i>
									</button>

									<a href="/listarsecretarias"
										class="waves-effect waves-teal btn-floating grey darken-2 tooltipped"
										data-position="botton" data-tooltip="Listar secretárias"
										type="button"> <i class="material-icons">list</i>
									</a> 
									
									<a
										th:href="@{/editarsecretaria/{idsec}(idsec=${secretariaobj.idsecretaria})}"
										class="waves-effect waves-teal btn-floating blue tooltipped"
										data-position="botton" data-tooltip="Voltar"
										type="button" name="listar"> <i class="material-icons">keyboard_return</i>

									</a>
								</div>
							</div>
						</div>
								
						<div class="divider"></div>
						<br />
						<div class="row">
							<input id="idperfilsecretaria" type="hidden"
									name="idperfilsecretaria" class="validate"
									th:field="*{idperfilsecretaria}">
							<div class="input-field col s12 m4">
								<input id="hobby" type="text" name="hobby" class="validate"
									th:field="*{hobby}"> <label for="hobby">Hobby</label>
							</div>
							<div class="input-field col s12 m4">
								<input id="timefutebol" type="text" name="timefutebol"
									th:field="*{timefutebol}" class="validate"> <label
									for="timefutebol">Time Futebol</label>
							</div>
							<div class="input-field col s12 m4">
								<input id="assuntopredileto" type="text" name="assuntopredileto"
									th:field="*{assuntopredileto}" class="validate"> <label
									for="assuntopredileto">Assunto Predileto</label>
							</div>
						</div>



						<h6 style="font-weight: bold;">Características profissionais</h6>
						<div class="divider"></div>
						<br />
						<div class="row">
							<p>
								<label> <input type="checkbox" name="estudioso"
									th:checked="*{estudioso}" /> <span>Estudioso</span>
								</label>
							</p>
							<p>
								<label> <input type="checkbox" name="formadoropniao"
									th:checked="*{formadoropniao}" /> <span>Formador de
										opnião</span>
								</label>
							</p>
						</div>

						<h6 style="font-weight: bold;">Perfil psicológico</h6>
						<div class="divider"></div>
						<br />
						<div class="row">
							<div class="col s12 m4">
								<p>
									<label> <input type="checkbox" name="obstinado"
										th:checked="*{obstinado}" /> <span>Obstinado</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="metodico"
										th:checked="*{metodico}" /> <span>Metódico</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="sociavel"
										th:checked="*{sociavel}" /> <span>Sociável</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="estavel"
										th:checked="*{estavel}" /> <span>Estável</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="afavel"
										th:checked="*{afavel}" /> <span>Afável</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="atencioso"
										th:checked="*{atencioso}" /> <span>Atencioso</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="desinteressado"
										th:checked="*{desinteressado}" /> <span>Desinteressado</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="questionador"
										th:checked="*{questionador}" /> <span>Questionador</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="indeciso"
										th:checked="*{indeciso}" /> <span>Indeciso</span>
									</label>
								</p>
							</div>
							<div class="col s12 m4">
								<p>
									<label> <input type="checkbox" name="irritado"
										th:checked="*{irritado}" /> <span>Irritado</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="calmo"
										th:checked="*{calmo}" /> <span>Calmo</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="desagradavel"
										th:checked="*{desagradavel}" /><span>Desagradável</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="agradavel"
										th:checked="*{agradavel}" /> <span>Agradavel</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="visual"
										th:checked="*{visual}" /> <span>Visual</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="auditivo"
										th:checked="*{auditivo}" /> <span>Auditivo</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="cinestesico"
										th:checked="*{cinestesico}" /> <span>Cinestésico</span>
									</label>
								</p>
								<p>
									<label> <input type="checkbox" name="inteligente"
										th:checked="*{inteligente}" /> <span>Inteligente</span>
									</label>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m12">
								<textarea id="observacao" class="materialize-textarea"
									th:field="*{observacao}" data-length="255" name="observacao"></textarea>
								<label for="observacao">Observação</label>
							</div>
						</div>
					
					</form>
				</div>
			</div>
		</div>



		<div th:insert="/index :: footer"></div>
		<input type="hidden" id="msgSucesso" th:value="${msgSucesso}">

	</main>


	<!-- Scripts -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

	<!-- External libraries -->

	<!-- jqvmap -->
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.min.js"></script>
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.world.js"
		charset="utf-8"></script>
	<script type="text/javascript"
		src="/js/jqvmap/jquery.vmap.sampledata.js"></script>

	<!-- ChartJS -->
	<script type="text/javascript" src="/js/Chart.js"></script>
	<script type="text/javascript" src="/js/Chart.Financial.js"></script>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
	<script
		src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/masonry.pkgd.min.js"></script>


	<!-- Initialization script -->
	<script src="/js/admin.js"></script>
	<script src="/js/page-scripts/dashboard.js"></script>
	<script src="/js/init.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.min.js"></script>

	<script type="text/javascript">
		//var mensagemErro = document.getElementById('msgErro').value;
		var mensagemSucesso = document.getElementById('msgSucesso').value;

		if (mensagemSucesso) {
			M.toast({
				html : mensagemSucesso,
				displayLength : 5000,
				classes : 'green darken-1 rounded'
			});
		}
		/*if (mensagemErro) {
			M.toast({
				html : mensagemErro,
				displayLength : 5000,
				classes : 'red darken-1 rounded'
			});
		}*/
	</script>
 <script type="text/javascript">
    $(document).ready(function(){
        $('.tooltipped').tooltip();
      });
    </script> 


</body>
</html>