<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="">
<title>Magistral Personal</title>
<link rel="shortcut icon" href="/img/favicon.ico"></link>
<link
	href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"
	rel="stylesheet">
<link href="/css/jqvmap.css" rel="stylesheet">
<link href="/css/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<!-- Fullcalendar-->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css"
	rel="stylesheet">
<!-- Materialize-->
<link href="/css/admin-materialize.min.css" rel="stylesheet">
<!-- Material Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<main>
		<div class="container">
			<div th:insert="/index :: header"></div>
			<div class="row">
				<div class="col s12">

					<div class="card grey lighten-4"
						style="padding: 20px 20px 20px 20px">

						<form th:action="pesquisarprescritor" method="post">
										<h6 class="bold">Filtrar</h6>
										<div class="row">
											<div class="input-field col s12 m4">
												<input id="nome" type="text" name="nome" class="validate">
												<label for="nome">Nome</label>
											</div>
											<div class="input-field col s12 m4">

												<select id="conselho" name="conselho">
													<option value="">Conselho</option>
													<option value="CRM">CRM</option>
													<option value="CRO">CRO</option>
													<option value="CRN">CRN</option>
													<option value="COREN">COREN</option>
													<option value="${conselho} ? ${conselho} : ''"></option>

												</select>

											</div>
											<div class="input-field col s12 m4">
												<input id="numero_conselho" name="numero_conselho"
													type="text" class="validate"> <label
													for="numero_conselho">Número conselho</label>
											</div>

										</div>
										<div class="row">
											<div class="input-field col s12 m4">
												<select id="especialidade" name="especialidade">
													<option value="">Especialidade</option>
													<option th:each="e : ${especialidades}"
														th:value="${e.idespecialidade}" th:text="${e.nome}"></option>
												</select>
											</div>
											<div class="input-field col s12 m4">
												<select id="clinica" name="clinica">
													<option value="">Clínica</option>
													<option th:each="c : ${clinicas}" th:value="${c.idclinica}"
														th:text="${c.nome}"></option>
												</select>
											</div>

											<div class="input-field col s12 m4">
												<button class="waves-effect waves-light waves-light blue darken-1 btn-floating" type="submit" title="Buscar"
													name="action" id="buscar">
													<i class="material-icons right">search</i>

												</button>
											
												<button class="btn-floating waves-effect waves-light waves-light red"
													type="reset" name="action" id="limpar" title="Limpar">
													<i class="material-icons right">clear</i>
												</button>
											
											
												<a class="btn-floating waves-effect waves-teal" title="Novo" type="button"
													href="/cadastroprescritor">
													<i class="material-icons right">add_box</i>
												</a>
											</div>
										</div>



									</form>
					</div>


					<div class="card grey lighten-4"
						style="padding: 20px 20px 20px 20px">

						<div class="card-metric-title center"
							style="font-weight: bold; font-size: 18px;">Prescritores</div>
						<hr class="rounded"></hr>
						<br />



						<table id="table-custom-elements"
							class="row-border responsive-table" cellspacing="0" width="100%">


							<thead>
								<tr>
									<th>Código</th>
									<th>Nome</th>
									<th>Email</th>
									<th>UF</th>
									<th>Cidade</th>
									<th>Conselho</th>
									<th>Número</th>
									<th>Opções</th>

								</tr>

							</thead>
							<tbody>

								<tr th:each=" prescritor : ${prescritores}">
									<td th:text="${prescritor.idprescritor}"></td>
									<td th:text="${prescritor.nome}"></td>
									<td th:text="${prescritor.email}"></td>
									<td th:text="${prescritor.uf}"></td>
									<td th:text="${prescritor.cidade}"></td>
									<td th:text="${prescritor.conselho}"></td>
									<td th:text="${prescritor.numeroConselho}"></td>
									<td><a class="tooltipped" data-position="top"
										data-tooltip="Editar"
										th:href="@{/editarprescritor/{idpres}(idpres=${prescritor.idprescritor})}">
											<i class="material-icons center green-text">edit</i>
									</a> <a class="tooltipped" data-position="top"
										data-tooltip="Tem certeza que deseja excluir?"
										th:href="@{/removerprescritor/{idpres}(idpres=${prescritor.idprescritor})}">
											<i class="material-icons center red-text">delete</i>
									</a></td>
								</tr>

							</tbody>
						</table>

						<!-- PAGINAÇÃO -->
						<div class="row center" style="margin-top: 30px;">
							<span th:if="${prescritores.hasPrevious()}"> <a
								th:href="@{/prescritorpage(page=${prescritores.number-1}, size=${prescritores.size}, nome=${nome}, conselho=${conselho}, numeroConselho=${numeroConselho}, especialidade=${especialidade}, clinica=${clinica})}">
									<i class="small material-icons">chevron_left</i>
							</a>
							</span>

							<th:ul class="pagination blue-text"
								th:each="i: ${#numbers.sequence(0, prescritores.totalPages -1)}">

								<li class="waves-effect"
									th:class="${i+1==prescritores.number+1} ? active"><a
									th:href="@{/prescritorpage(page=${i}, size=${prescritores.size}, nome=${nome}, conselho=${conselho}, numeroConselho=${numeroConselho}, especialidade=${especialidade}, clinica=${clinica})}"
									th:text="${i} + 1"></a></li>

							</th:ul>
							<span th:if="${prescritores.hasNext()}"> <a
								th:href="@{/prescritorpage(page=${prescritores.number+1}, size=${prescritores.size},  nome=${nome}, conselho=${conselho}, numeroConselho=${numeroConselho}, especialidade=${especialidade}, clinica=${clinica})}"><i
									class="small material-icons">chevron_right</i></a>
							</span>

						</div>

					</div>

				</div>
			</div>


		</div>
		<div th:insert="/index :: footer"></div>
		<input type="hidden" id="msgExclusao" th:value="${msgExclusao}">
		<input type="hidden" id="msgErro" th:value="${msgErro}">

	</main>

	<!-- Scripts -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

	<!-- External libraries -->

	<!-- jqvmap -->
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.min.js"></script>
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.world.js"
		charset="utf-8"></script>
	<script type="text/javascript"
		src="/js/jqvmap/jquery.vmap.sampledata.js"></script>

	<!-- ChartJS -->
	<script type="text/javascript" src="/js/Chart.js"></script>
	<script type="text/javascript" src="/js/Chart.Financial.js"></script>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
	<script
		src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/masonry.pkgd.min.js"></script>


	<!-- Initialization script -->
	<script src="/js/admin.js"></script>
	<script src="/js/page-scripts/dashboard.js"></script>
	<script src="/js/init.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.min.js"></script>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.tooltipped');
			var instances = M.Tooltip.init(elems, options);
		});

		// Or with jQuery

		$(document).ready(function() {
			$('.tooltipped').tooltip();
		});
	</script>

	<script type="text/javascript">
		var msgExclusao = document.getElementById('msgExclusao').value;
		var msgErro = document.getElementById('msgErro').value;

		if (msgExclusao) {
			M.toast({
				html : msgExclusao,
				displayLength : 5000,
				classes : 'green darken-1 rounded'
			});

		}
		if (msgErro) {
			M.toast({
				html : msgErro,
				displayLength : 5000,
				classes : 'red darken-1 rounded'
			});

		}
	</script>

</body>
</html>