<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="">
<title>Magistral Personal</title>
<link rel="shortcut icon" href="/img/favicon.ico"></link>
<link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">
<link href="/css/jqvmap.css" rel="stylesheet">
<link href="/css/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<!-- Fullcalendar-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
<!-- Materialize-->
<link href="/css/admin-materialize.min.css" rel="stylesheet">
<!-- Material Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<main>
		<div class="container">
			<div th:insert="/index :: header"></div>
			<div class="row">
				<div class="col s12">

					<div class="card grey lighten-4" style="padding: 20px 20px 20px 20px;">
					
					<div class="right">
						<a  class="tooltipped" data-position="hight" data-tooltip="Cadastrar Visita"
						    href="/cadastrovisita"><i
							class="small material-icons green-text">add_box</i></a>
					</div>
					
						<form action="pesquisarvisita" method="post">
							<div class="row">
								<div class="input-field col s4">
									<select id="prescritor" name="prescritor">
										<option value="" >Prescritor</option>
										<option th:each="p : ${prescritores}"
											th:value="${p.idprescritor}" th:text="${p.nome}"></option>
									</select>
									
								</div>
								

								<div class="input-field col s4">
									<select id="statusvisita" name="statusvisita">
										<option value="" >Status</option>
										<option th:each="s : ${T(com.vm.model.StatusVisita).values()}" th:value="${s}" th:text="${s.nome}"></option>								

									</select>
									
								</div>

								
								<div class="input-field col s4">
								<button class="btn waves-effect waves-light" type="submit"
									name="action">
									Buscar <i class="material-icons right">search</i>

								</button>
								</div>

							</div>

						</form>
						
					
					</div>
			

					<div class="card grey lighten-4" style="padding: 20px 20px 20px 20px">

						<div class="card-metric-title center" style="font-weight: bold; font-size: 18px;">Visitas</div>
					<hr class="rounded"></hr>
					<br/>
					
					
					
					<div class="col s12 m12">
						
						<div class="card horizontal" th:each="v : ${visitas.content}">
							<div class="card-image">
								<!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
							</div>
							<div class="card-stacked">
								
								<div class="card-content">
								<div class="right">
										<a class="tooltipped" data-position="top"
											data-tooltip="Concluir visita"
											th:href="@{/concluirvisita/{idvi}(idvi=${v.idvisita})}">
											<i class="material-icons center blue-text">check_box</i>
										</a>

										<a class="tooltipped" data-position="top"
											data-tooltip="Editar"
											th:href="@{/editarvisita/{idvi}(idvi=${v.idvisita})}">
											<i class="material-icons center green-text">edit</i>
										</a>

								</div>
									<p>
									<span style="font-weight: bold; color: #363636;">Prescritor: </span>
									<span class="green-text" th:text="${v.prescritor.nome}"></span></p>
									<hr class="rounded"></hr>
									<br/>
									<p>
										<span style="font-weight: bold; color: #363636;">Data: </span>
										<span class="" th:text="${#dates.format(v.data_agendamento, 'dd/MM/yyyy')}"></span>
										&nbsp;&nbsp;&nbsp;
										<span style="font-weight: bold; color: #363636;">Horário: </span>
										<span class="" th:text="${v.horario}"></span>
										&nbsp;&nbsp;&nbsp;
										<span style="font-weight: bold; color: #363636;">Visitador: </span>
										<span class="" th:text="${v.visitador.nome}"></span>
										&nbsp;&nbsp;&nbsp;
										<span style="font-weight: bold; color: #363636;">Status: </span>
										<span class="" th:text="${v.statusvisita}"></span>
										&nbsp;&nbsp;&nbsp;
									
									</p>
								</div>
									
								<div class="card-action">
								
									<ul class="collapsible popout">
										<li>
											<div class="collapsible-header">
												<i class="material-icons">list</i>Ativos
											</div>
											<div class="collapsible-body">
											
												<div class="card horizontal" th:each="at : ${v.ativo_visita}">
													<div class="card-stacked">
														<div class="card-content">
															<span style="font-weight: bold; color: #363636;">Ativo: </span>
															<span class="" th:text="${at.ativo.nome}"></span>
															&nbsp;&nbsp;&nbsp;
															
															<a class="tooltipped right" data-position="top"
																data-tooltip="Baixar."
																th:href="@{/downloadfile/{idativ}(idativ=${at.ativo.idativo})}">
																<i class="material-icons blue-text">picture_as_pdf</i>
																
														
															</a>
															
															&nbsp;&nbsp;&nbsp;
															<a class="tooltipped right" data-position="top"
																data-tooltip="Sugestões de fórmulas"												
																th:href="@{/sugestaoformulavisita/ativo/{idat}/visita/{idvis}(idat=${at.ativo.idativo}, idvis=${v.idvisita})}">
																<i class="material-icons center green-text">open_in_new</i>
															</a>
														</div>
													</div>
												</div>
											
											
											</div>
										</li>
										
									</ul>
									
									
									
								</div>
							</div>
						</div>
					</div>
					
					
					
					<!-- *************************************************************** -->
						
				

						<!-- PAGINAÇÃO -->
						<div class="row center" style="margin-top: 30px;">
							<span th:if="${visitas.hasPrevious()}"> <a
								th:href="@{/visitapage(page=${visitas.number-1}, size=${visitas.size})}"><i
									class="small material-icons">chevron_left</i></a>
							</span>

							<th:ul class="pagination blue-text" th:each="i: ${#numbers.sequence(0, visitas.totalPages -1)}">

								<li class="waves-effect">
									<a	th:href="@{/visitapage(page=${i}, size=${visitas.size})}">[[${i} + 1]]</a>
								</li>

							</th:ul>
							<span th:if="${visitas.hasNext()}"> <a
								th:href="@{/visitapage(page=${visitas.number+1}, size=${visitas.size})}"><i
									class="small material-icons">chevron_right</i></a>
							</span>

						</div>

					</div>

				</div>
			</div>

			
		</div>
		<div th:insert="/index :: footer"></div>
		<input type="hidden" id="msgExclusao" th:value="${msgExclusao}">
		<input type="hidden" id="msgErro" th:value="${msgErro}">
		<input type="hidden" id="msgConclusao" th:value="${msgConclusao}">
	</main>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

	<!-- External libraries -->

	<!-- jqvmap -->
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.min.js"></script>
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.world.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/jqvmap/jquery.vmap.sampledata.js"></script>

	<!-- ChartJS -->
	<script type="text/javascript" src="/js/Chart.js"></script>
	<script type="text/javascript" src="/js/Chart.Financial.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
	<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/masonry.pkgd.min.js"></script>


	<!-- Initialization script -->
	<script src="/js/admin.js"></script>
	<script src="/js/page-scripts/dashboard.js"></script>
	<script src="/js/init.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
	
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.tooltipped');
			var instances = M.Tooltip.init(elems, options);
		});

		// Or with jQuery

		$(document).ready(function() {
			$('.tooltipped').tooltip();
		});
	</script>

	<script type="text/javascript">
		var msgExclusao = document.getElementById('msgExclusao').value;
		var mensagemErro = document.getElementById('msgErro').value;
		var msgConclusao = document.getElementById('msgConclusao').value;

		if (msgExclusao) {
			M.toast({
				html : msgExclusao,
				displayLength : 5000,
				classes : 'green darken-1 rounded'
			});

		}
		if (mensagemErro) {
			M.toast({
				html : mensagemErro,
				displayLength : 5000,
				classes : 'red darken-1 rounded'
			});
		}
		
		if (msgConclusao) {
			M.toast({
				html : msgCloncusao,
				displayLength : 5000,
				classes : 'green darken-1 rounded'
			});
		}
	</script>
</body>
</html>